# Natural Language to SQL with LLM and InterSystems IRIS

This notebook demonstrates how to build an intelligent **Text-to-SQL** system using:
- **InterSystems IRIS** as the SQL database with retail data
- **LangChain** for SQL query generation and execution  
- **Large Language Models** (Mistral AI / OpenAI) for natural language processing
- **Vector-based few-shot learning** for improved query accuracy

## Key Capabilities
‚úÖ **Natural Language Queries**: Ask questions in plain English/Spanish  
‚úÖ **IRIS SQL Optimization**: Specialized prompts for InterSystems IRIS syntax  
‚úÖ **Smart Few-shot Learning**: Dynamic example selection using semantic similarity  
‚úÖ **Query Execution**: Automatic SQL generation and result retrieval  

## Workshop Overview
We'll explore the "Holefoods" retail database and demonstrate how LLMs can generate accurate SQL queries from natural language questions.

## Useful Resources
- [LangChain SQL QA Tutorial](https://python.langchain.com/docs/tutorials/sql_qa/)
- [SQL Prompting Guide](https://python.langchain.com/docs/how_to/sql_prompting/)

---

## 1. Database Setup and Exploration

First, let's establish our connection to InterSystems IRIS and explore the retail database structure:

In [1]:
# Import LangChain's SQL database utility
# This provides a convenient wrapper around SQL databases with LLM integration capabilities
from langchain_community.utilities import SQLDatabase

print("üì¶ LangChain SQL utilities imported successfully")

üì¶ LangChain SQL utilities imported successfully

In [2]:
# Connect to InterSystems IRIS database using the Holefoods retail dataset
# sample_rows_in_table_info=3: Include 3 sample rows in table descriptions for better LLM understanding
# schema='Holefoods': Focus on the Holefoods retail schema
print("üîå Connecting to InterSystems IRIS database...")

db = SQLDatabase.from_uri(
    "iris://superuser:SYS@iris:1972/LLMRAG",
    sample_rows_in_table_info=3,  # Include sample data for context
    schema='Holefoods'            # Specify the retail database schema
)

print("‚úÖ Connected to InterSystems IRIS")
print(f"üìä Database dialect: {db.dialect}")
print(f"üìã Available tables: {db.get_usable_table_names()}")

üîå Connecting to InterSystems IRIS database...
‚úÖ Connected to InterSystems IRIS
üìä Database dialect: iris
üìã Available tables: ['Country', 'Outlet', 'Product', 'Region', 'SalesTransaction']

### Database Schema Exploration

Let's explore the database structure to understand our retail data:

In [3]:
# Let's examine some sample data from the main sales transaction table
# This helps us understand the data structure and what kind of questions we can ask
print("üìã Sample data from SalesTransaction table:")
print("="*60)
sample_data = db.run("SELECT TOP 10 * FROM Holefoods.SalesTransaction")
print(sample_data)
print("="*60)
print("üí° This table contains retail sales data with dates, amounts, products, outlets, and locations")

üìã Sample data from SalesTransaction table:
============================================================
[(1, 1, Decimal('22.95'), None, None, datetime.date(2025, 8, 20), 0, None, None, 4, 'SKU-601', None, 1, None), (2, 1, Decimal('6.48'), '2', None, datetime.date(2025, 9, 28), Decimal('0.5'), None, None, 6, 'SKU-195', None, 1, None), (3, 1, Decimal('5.95'), '2', None, datetime.date(2021, 1, 17), 0, None, None, 12, 'SKU-712', None, 1, None), (4, 1, Decimal('22.95'), None, None, datetime.date(2023, 12, 9), 0, None, None, 32, 'SKU-601', None, 1, None), (5, 1, Decimal('1.98'), '2', None, datetime.date(2024, 1, 26), Decimal('0.5'), None, None, 6, 'SKU-203', None, 1, None), (6, 1, Decimal('14.85'), None, None, datetime.date(2025, 1, 27), 0, None, None, 9, 'SKU-708', None, 3, None), (7, 1, Decimal('27.65'), '2', None, datetime.date(2021, 10, 10), 0, None, None, 8, 'SKU-203', None, 7, None), (8, 1, Decimal('2.13'), '2', None, datetime.date(2020, 9, 29), Decimal('0.5'), 34.016809, -118.397332, 28, 'SKU-296', None, 1, '90232'), (9, 1, Decimal('4.46'), '2', None, datetime.date(2021, 12, 31), Decimal('0.1'), 39.707679, -88.455509, 26, 'SKU-708', None, 1, '61911'), (10, 1, Decimal('9.90'), '2', None, datetime.date(2021, 10, 2), Decimal('0.5'), None, None, 34, 'SKU-708', None, 4, None)]
============================================================
üí° This table contains retail sales data with dates, amounts, products, outlets, and locations

In [5]:
# Get comprehensive database context for LLM prompting
# This includes table schemas, column names, data types, and sample rows
print("üìñ Getting database context for LLM...")
context = db.get_context()
print(f"üìä Context includes: {list(context.keys())}")
print("\nüèóÔ∏è COMPLETE DATABASE SCHEMA:")
print("="*80)
print(context["table_info"])
print("="*80)
print("üí° This schema information will help the LLM understand our database structure")

üìñ Getting database context for LLM...
üìä Context includes: ['table_info', 'table_names']

üèóÔ∏è COMPLETE DATABASE SCHEMA:
================================================================================

CREATE TABLE "HoleFoods"."Product" (
	"ID" VARCHAR(22) NOT NULL,
	"Category" VARCHAR(100) %DESCRIPTION 'Category of this product.',
	"Name" VARCHAR(120) %DESCRIPTION 'Name of this product.',
	"Price" NUMERIC(15, 2) %DESCRIPTION 'List price for this product.',
	"SKU" VARCHAR(22) NOT NULL %DESCRIPTION 'SKU for this product.',
	CONSTRAINT "IDKEYField_As_PKey" PRIMARY KEY ("SKU"),
	%DESCRIPTION 'Use or operation of this code is subject to acceptance of the license available in the code repository for this code.

This represents a Product within the HoleFoods demo.'
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Product table:
ID	Category	Name	Price	SKU
SKU-101	Snack	Bagels (dozen)	2.95	SKU-101
SKU-192	Snack	Donuts (dozen)	2.95	SKU-192
SKU-195	Snack	Free-range Donuts (dozen)	12.95	SKU-195
*/


CREATE TABLE "Holefoods"."Country" (
	"ID" IDENTITY DEFAULT $i(^HoleFoods.CountryD) NOT NULL,
	"Name" VARCHAR(90) %DESCRIPTION 'Name of this country.',
	"Region" BIGINT %DESCRIPTION 'Region in which this country is located.',
	CONSTRAINT "RowIDField_As_PKey" PRIMARY KEY ("ID"),
	%DESCRIPTION 'Use or operation of this code is subject to acceptance of the license available in the code repository for this code.

This specifies the country within the HoleFoods demo.'
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Country table:
ID	Name	Region
1	China	1
2	India	1
3	Japan	1
*/


CREATE TABLE "Holefoods"."Outlet" (
	"ID" IDENTITY DEFAULT $i(^HoleFoods.OutletD) NOT NULL,
	"City" VARCHAR(100) %DESCRIPTION 'City name of this location.',
	"Country" BIGINT %DESCRIPTION 'Country in which this city is located.',
	"Latitude" DOUBLE %DESCRIPTION 'Latitude of this location.',
	"Longitude" DOUBLE %DESCRIPTION 'Longitude of this location.',
	"Population" INTEGER %DESCRIPTION 'Population of this city.',
	"Type" VARCHAR(50) %DESCRIPTION 'Type of outlet: "retail", "web", etc.',
	CONSTRAINT "RowIDField_As_PKey" PRIMARY KEY ("ID"),
	%DESCRIPTION 'Use or operation of this code is subject to acceptance of the license available in the code repository for this code.

This represents a Sales Outlet for the HoleFoods demo.'
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Outlet table:
ID	City	Country	Latitude	Longitude	Population	Type
1	Beijing	1	39.86	116.412	17400000	None
2	Shanghai	1	31.224	121.466	16738000	None
3	Bangalore	2	12.963	77.587	6200000	None
*/


CREATE TABLE "Holefoods"."Product" (
	"ID" VARCHAR(22) NOT NULL,
	"Category" VARCHAR(100) %DESCRIPTION 'Category of this product.',
	"Name" VARCHAR(120) %DESCRIPTION 'Name of this product.',
	"Price" NUMERIC(15, 2) %DESCRIPTION 'List price for this product.',
	"SKU" VARCHAR(22) NOT NULL %DESCRIPTION 'SKU for this product.',
	CONSTRAINT "IDKEYField_As_PKey" PRIMARY KEY ("SKU"),
	%DESCRIPTION 'Use or operation of this code is subject to acceptance of the license available in the code repository for this code.

This represents a Product within the HoleFoods demo.'
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Product table:
ID	Category	Name	Price	SKU
SKU-101	Snack	Bagels (dozen)	2.95	SKU-101
SKU-192	Snack	Donuts (dozen)	2.95	SKU-192
SKU-195	Snack	Free-range Donuts (dozen)	12.95	SKU-195
*/


CREATE TABLE "Holefoods"."Region" (
	"ID" IDENTITY DEFAULT $i(^HoleFoods.RegionD) NOT NULL,
	"Name" VARCHAR(80) %DESCRIPTION 'Name of this region.',
	CONSTRAINT "RowIDField_As_PKey" PRIMARY KEY ("ID"),
	%DESCRIPTION 'Use or operation of this code is subject to acceptance of the license available in the code repository for this code.

This specifies a geographic region within the HoleFoods demo.'
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Region table:
ID	Name
1	Asia
2	Europe
3	N. America
*/


CREATE TABLE "Holefoods"."SalesTransaction" (
	"ID" IDENTITY DEFAULT $i(^HoleFoods.TransactionD) NOT NULL,
	"Actual" BIT %DESCRIPTION 'If true, this represents an actual sale

otherwise this represents a sales target.',
	"AmountOfSale" NUMERIC(15, 2) %DESCRIPTION 'Actual amount of this sale.',
	"Channel" VARCHAR(50) %DESCRIPTION 'Channel product was sold through: "Retail" or "Online".',
	"Comment" VARCHAR(500) %DESCRIPTION 'Customer comment on this transaction (if any).',
	"DateOfSale" DATE %DESCRIPTION 'Date of this sale.',
	"Discount" NUMERIC(15, 2) %DESCRIPTION 'Discount amount.',
	"Latitude" DOUBLE %DESCRIPTION 'Latitude of customer (determined from zip code).',
	"Longitude" DOUBLE %DESCRIPTION 'Longitude of customer (determined from zip code).',
	"Outlet" BIGINT %DESCRIPTION 'Store or other outlet in which the sale occurred.',
	"Product" VARCHAR(22) %DESCRIPTION 'Product sold.',
	"TargetAmount" NUMERIC(15, 2) %DESCRIPTION 'For budget items, this is the target value for a period,region, and product.',
	"UnitsSold" INTEGER %DESCRIPTION 'Units sold.',
	"ZipCode" VARCHAR(25) %DESCRIPTION 'US Zipcode of customer (if provided).',
	CONSTRAINT "RowIDField_As_PKey" PRIMARY KEY ("ID"),
	CONSTRAINT "FKProduct" FOREIGN KEY("Product") REFERENCES "HoleFoods"."Product" ("SKU"),
	%DESCRIPTION 'Use or operation of this code is subject to acceptance of the license available in the code repository for this code.

Instances of this class represent specific transactions within

the HoleFoods demo.<br/>

This table combines both "actual" data an'
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from SalesTransaction table:
ID	Actual	AmountOfSale	Channel	Comment	DateOfSale	Discount	Latitude	Longitude	Outlet	Product	TargetAmount	UnitsSold	ZipCode
1	1	22.95	None	None	2025-08-20	0	None	None	4	SKU-601	None	1	None
2	1	6.48	2	None	2025-09-28	0.5	None	None	6	SKU-195	None	1	None
3	1	5.95	2	None	2021-01-17	0	None	None	12	SKU-712	None	1	None
*/
================================================================================
üí° This schema information will help the LLM understand our database structure

## 2. LLM Setup and Configuration

We'll set up our Large Language Model for SQL query generation. You can choose between Mistral AI or OpenAI:

In [18]:
# Option: Mistral AI Setup (Alternative LLM option)
# import getpass
# import os

# Securely input your Mistral API key
# os.environ["MISTRAL_API_KEY"] = getpass.getpass("Enter your Mistral API key: ")

# from langchain_mistralai import ChatMistralAI

# Initialize Mistral AI LLM
# mistral-large-latest: Most capable model for complex reasoning and SQL generation
# llm = ChatMistralAI(model="mistral-large-latest")
# print("‚úÖ Mistral AI LLM initialized successfully")
# print("üß† Using model: mistral-large-latest (excellent for SQL and multilingual queries)")

In [6]:
# Option: OpenAI Setup

import getpass
import os

# Securely input your OpenAI API key
os.environ["OPENAI_API_KEY"] = getpass.getpass("Enter your OpenAI API key: ")

from langchain_openai import ChatOpenAI

# Initialize OpenAI LLM 
# gpt-4o-mini: Cost-effective model with good SQL generation capabilities
llm = ChatOpenAI(model="gpt-4o-mini")
print("‚úÖ OpenAI LLM initialized successfully")
print("üß† Using model: gpt-4o-mini (cost-effective with good SQL performance)")

Enter your OpenAI API key:  ¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑

‚úÖ OpenAI LLM initialized successfully
üß† Using model: gpt-4o-mini (cost-effective with good SQL performance)

## 3. Custom IRIS SQL Prompt Engineering

InterSystems IRIS has specific SQL syntax differences from standard SQL. We'll create a specialized prompt template to ensure accurate query generation:

In [7]:
from langchain_core.prompts import PromptTemplate

# Define a custom prompt template optimized for InterSystems IRIS SQL syntax
# This addresses IRIS-specific requirements and common pitfalls
print("üîß Creating IRIS-optimized SQL prompt template...")

template = '''
You are an InterSystems IRIS SQL expert. 
Given an input question, first create a syntactically correct InterSystems IRIS SQL query to run and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the TOP as defined in InterSystems IRIS syntax: ```SELECT [DISTINCT] TOP int select-item, select-item,...```
Always specify table names using schema as prefix.
Always add alias for tables.
Always refer to column using the table alias and the column name to avoid ambiguity.
Do not use LIMIT clause as it is not correct in IRIS dialect.
If using TOP, use it always right after SELECT. Never at the end of the query.
Do not end SQL sentences with an ;
Do not enclose fields in quotes or double quotes.
Do not enclose table names in quotes or double quotes.
You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CAST(CURRENT_DATE as date) function to get the current date, if the question involves "today".

Return only plain SQL without any formatting.

Only use the following tables:

{table_info}.
Question: {input}'''

# Create the PromptTemplate object with all required variables
custom_prompt = PromptTemplate(
    input_variables=["input", "table_info", "top_k", "dialect"],
    template=template
)

print("‚úÖ Custom IRIS SQL prompt template created")
print("üéØ Key IRIS-specific optimizations included:")
print("   ‚Ä¢ Uses TOP instead of LIMIT")
print("   ‚Ä¢ Proper schema prefixing")
print("   ‚Ä¢ No semicolons or quote enclosures")
print("   ‚Ä¢ IRIS-specific date functions")

üîß Creating IRIS-optimized SQL prompt template...
‚úÖ Custom IRIS SQL prompt template created
üéØ Key IRIS-specific optimizations included:
   ‚Ä¢ Uses TOP instead of LIMIT
   ‚Ä¢ Proper schema prefixing
   ‚Ä¢ No semicolons or quote enclosures
   ‚Ä¢ IRIS-specific date functions

## 4. SQL Query Chain Creation

Now let's create our SQL query chain using LangChain's built-in functionality with our custom prompt:

In [8]:
from langchain.chains import create_sql_query_chain

# Create the SQL query generation chain
# This combines our LLM, database context, and custom IRIS prompt
print("‚öôÔ∏è Creating SQL query generation chain...")
chain = create_sql_query_chain(llm, db, prompt=custom_prompt)

# Display the final prompt template that will be used
print("üìã Final prompt template structure:")
print("="*60)
chain.get_prompts()[0].pretty_print()
print("="*60)
print("‚úÖ SQL query chain created successfully")

‚öôÔ∏è Creating SQL query generation chain...
üìã Final prompt template structure:
============================================================

You are an InterSystems IRIS SQL expert.
Given an input question, first create a syntactically correct InterSystems IRIS SQL query to run and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the TOP as defined in InterSystems IRIS syntax: ```SELECT [DISTINCT] TOP int select-item, select-item,...```
Always specify table names using schema as prefix.
Always add alias for tables.
Always refer to column using the table alias and the column name to avoid ambiguity.
Do not use LIMIT clause as it is not correct in IRIS dialect.
If using TOP, use it always right after SELECT. Never at the end of the query.
Do not end SQL sentences with an ;
Do not enclose fields in quotes or double quotes.
Do not enclose table names in quotes or double quotes.
You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CAST(CURRENT_DATE as date) function to get the current date, if the question involves "today".

Return only plain SQL without any formatting.

Only use the following tables:

{table_info}.
Question: {input}
============================================================
‚úÖ SQL query chain created successfully

## 5. Testing Basic Query Generation

Let's test our SQL query generation with some sample questions:

In [9]:
# Optional: Import callback handler for debugging (shows LLM reasoning process)
from langchain.callbacks.tracers import ConsoleCallbackHandler

print("üß™ Ready to test SQL query generation")
print("üí° The ConsoleCallbackHandler can be used to see detailed LLM reasoning")

üß™ Ready to test SQL query generation
üí° The ConsoleCallbackHandler can be used to see detailed LLM reasoning

In [10]:
# Test 1: Simple counting query
question1 = "how many products are there?"
print(f"‚ùì Question: {question1}")
query1 = chain.invoke({"question": question1})
print(f"üîç Generated SQL: {query1}")

‚ùì Question: how many products are there?
üîç Generated SQL: SELECT COUNT(p.ID) AS ProductCount FROM HoleFoods.Product AS p

In [11]:
# Test 2: Date-based filtering query
question2 = "how many sales in 2023?"
print(f"‚ùì Question: {question2}")
query2 = chain.invoke({"question": question2})
print(f"üîç Generated SQL: {query2}")

‚ùì Question: how many sales in 2023?
üîç Generated SQL: SELECT TOP 5 COUNT(sale.ID) AS SalesCount FROM Holefoods.SalesTransaction AS sale WHERE YEAR(sale.DateOfSale) = 2023

In [12]:
# Test 3: Distinct values query
question3 = "what are the product categories?"
print(f"‚ùì Question: {question3}")
query3 = chain.invoke({"question": question3})
print(f"üîç Generated SQL: {query3}")
print("‚úÖ Notice: Uses DISTINCT TOP 5 with proper IRIS syntax")

# Example of using debug mode (uncomment to see detailed LLM reasoning):
# query3_debug = chain.invoke({"question": question3}, config={'callbacks': [ConsoleCallbackHandler()]})
#üí° Uncomment the debug line above to see detailed LLM reasoning process

‚ùì Question: what are the product categories?
üîç Generated SQL: SELECT DISTINCT TOP 5 p.Category FROM HoleFoods.Product p
‚úÖ Notice: Uses DISTINCT TOP 5 with proper IRIS syntax

In [13]:
# Test 4: Complex aggregation with joins
question4 = "what are the most sold product categories during 2023?"
print(f"‚ùì Question: {question4}")
query4 = chain.invoke({"question": question4})
print(f"üîç Generated SQL: {query4}")
print("‚úÖ Notice: Complex JOIN between SalesTransaction and Product tables")
print("   ‚Ä¢ Uses proper date range filtering")
print("   ‚Ä¢ Groups by category and orders by total units sold")
print("   ‚Ä¢ Uses TOP 5 for result limiting\n")

‚ùì Question: what are the most sold product categories during 2023?
üîç Generated SQL: SELECT TOP 5 p.Category, SUM(st.UnitsSold) AS TotalUnitsSold
FROM HoleFoods.SalesTransaction AS st
JOIN HoleFoods.Product AS p ON st.Product = p.SKU
WHERE YEAR(st.DateOfSale) = 2023
GROUP BY p.Category
ORDER BY TotalUnitsSold DESC
‚úÖ Notice: Complex JOIN between SalesTransaction and Product tables
   ‚Ä¢ Uses proper date range filtering
   ‚Ä¢ Groups by category and orders by total units sold
   ‚Ä¢ Uses TOP 5 for result limiting

## 6. Query Execution Pipeline

Now let's combine query generation with automatic execution to get actual results:

In [14]:
# Create a complete pipeline: Question -> SQL Query -> Execution -> Results
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

print("üîß Creating complete query execution pipeline...")

# Create the query execution tool
execute_query = QuerySQLDataBaseTool(db=db)

# Create the query generation chain (reusing our existing chain)
write_query = create_sql_query_chain(llm, db, prompt=custom_prompt)

# Combine both: generate query, then execute it
# This creates a pipeline: Question -> SQL -> Results
complete_chain = write_query | execute_query

print("‚úÖ Complete pipeline created: Question -> SQL Generation -> Execution -> Results")

# Test the complete pipeline
test_question = "what are the most sold product categories during 2023?"
print(f"\nüß™ Testing complete pipeline with: '{test_question}'")
print("="*60)
result = complete_chain.invoke({"question": test_question})
print(f"üìä Results: {result}")
print("="*60)
print("üéâ Pipeline working! We got actual data from the database.")

üîß Creating complete query execution pipeline...
‚úÖ Complete pipeline created: Question -> SQL Generation -> Execution -> Results

üß™ Testing complete pipeline with: 'what are the most sold product categories during 2023?'
============================================================

/tmp/ipykernel_844/2637730358.py:7: LangChainDeprecationWarning: The class `QuerySQLDataBaseTool` was deprecated in LangChain 0.3.12 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-community package and should be used instead. To use it run `pip install -U :class:`~langchain-community` and import as `from :class:`~langchain_community.tools import QuerySQLDatabaseTool``.
  execute_query = QuerySQLDataBaseTool(db=db)

üìä Results: [('SNACK', 107), ('VEGETABLE', 67), ('PASTA', 63), ('FRUIT', 54), ('CEREAL', 23)]
============================================================
üéâ Pipeline working! We got actual data from the database.

## 7. Advanced: Dynamic Few-Shot Learning with Semantic Similarity

Now we'll implement an advanced technique: using vector similarity to automatically select the most relevant SQL examples for each question. This dramatically improves query accuracy.

In [15]:
# Create a comprehensive set of example question-SQL pairs
# These serve as few-shot examples to help the LLM understand our database patterns
print("üìö Creating few-shot learning examples...")

examples = [
    { 
        "input": "List all regions.", 
        "query": "SELECT ID, Name FROM Holefoods.Region"
    },
    {
        "input": "List all countries.",
        "query": "SELECT c.ID, c.Name, r.Name Region FROM HoleFoods.Country c JOIN HoleFoods.Region r on c.Region=r.ID"
    },
    {
        "input": "What are the different product categories ?",
        "query": "SELECT DISTINCT(Category) Categories FROM HoleFoods.Product"
    },
    {
        "input": "How many pasta products were sold online in 2023 ?",
        "query": "SELECT SUM(UnitsSold) FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Product p ON st.Product=p.ID WHERE st.Channel='Online' AND YEAR(st.DateOfSale) = 2023 AND p.Category = 'Pasta'"
    },
    {
        "input": "Find all snack products",
        "query": "SELECT SKU, Name, Price FROM HoleFoods.Product p WHERE p.Category='Snack'"
    },
    {
        "input": "Find all candy products",
        "query": "SELECT SKU, Name, Price FROM HoleFoods.Product p WHERE p.Category='Candy'"
    },
    {
        "input": "How many products were sold in Europe in 2022 ?",
        "query": "SELECT SUM(UnitsSold) FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Outlet o ON st.Outlet=o.ID JOIN HoleFoods.Country c ON o.Country=c.ID JOIN HoleFoods.Region r ON c.Region=r.ID WHERE r.Name='Europe' AND YEAR(st.DateOfSale) = 2022"
    }
]

print(f"‚úÖ Created {len(examples)} example question-SQL pairs")
print("üéØ Examples cover:")
print("   ‚Ä¢ Basic table queries")
print("   ‚Ä¢ JOIN operations across multiple tables")
print("   ‚Ä¢ Date filtering and aggregations")
print("   ‚Ä¢ Category-based filtering")
print("   ‚Ä¢ Regional analysis patterns")

üìö Creating few-shot learning examples...
‚úÖ Created 7 example question-SQL pairs
üéØ Examples cover:
   ‚Ä¢ Basic table queries
   ‚Ä¢ JOIN operations across multiple tables
   ‚Ä¢ Date filtering and aggregations
   ‚Ä¢ Category-based filtering
   ‚Ä¢ Regional analysis patterns

In [16]:
# Create a semantic similarity-based example selector
# This uses OpenAI embeddings and IRIS Vector to find the most relevant examples
print("üîß Setting up semantic similarity example selector...")

from langchain_iris import IRISVector
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_openai import OpenAIEmbeddings

# Create the example selector using IRIS Vector store
# This will automatically find the 3 most similar examples for any question
example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,                                           # Our example question-SQL pairs
    OpenAIEmbeddings(),                                # Embedding model for semantic similarity
    IRISVector,                                        # Use IRIS as vector store
    k=3,                                               # Select top 3 most relevant examples
    input_keys=["input"],                              # Match on the input question
    connection_string='iris://superuser:SYS@iris:1972/LLMRAG',  # IRIS connection
    collection_name="sql_samples",                     # Collection name for examples
    pre_delete_collection=True                         # Clean up previous runs
)

print("‚úÖ Semantic similarity example selector created")
print("üß† How it works:")
print("   1. Convert user question to embedding")
print("   2. Find 3 most similar example questions")  
print("   3. Include their SQL queries as few-shot examples")
print("   4. This helps LLM understand similar query patterns")

üîß Setting up semantic similarity example selector...
‚úÖ Semantic similarity example selector created
üß† How it works:
   1. Convert user question to embedding
   2. Find 3 most similar example questions
   3. Include their SQL queries as few-shot examples
   4. This helps LLM understand similar query patterns

In [17]:
# Test the example selector to see which examples it finds for a specific question
test_question_semantic = "how many products were sold in America?"
print(f"üß™ Testing example selector with: '{test_question_semantic}'")
print("="*60)

selected_examples = example_selector.select_examples({"input": test_question_semantic})

print("üîç Most relevant examples selected:")
for i, example in enumerate(selected_examples, 1):
    print(f"\n{i}. Input: {example['input']}")
    print(f"   Query: {example['query']}")

print("="*60)
print("‚úÖ Notice how the selector found examples about:")
print("   ‚Ä¢ Regional queries (Europe -> America)")
print("   ‚Ä¢ Product sales counting")
print("   ‚Ä¢ Complex JOINs across multiple tables")
print("üéØ This gives the LLM excellent context for generating the correct query!")

üß™ Testing example selector with: 'how many products were sold in America?'
============================================================
üîç Most relevant examples selected:

1. Input: How many products were sold in Europe in 2022 ?
   Query: SELECT SUM(UnitsSold) FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Outlet o ON st.Outlet=o.ID JOIN HoleFoods.Country c ON o.Country=c.ID JOIN HoleFoods.Region r ON c.Region=r.ID WHERE r.Name='Europe' AND YEAR(st.DateOfSale) = 2022

2. Input: How many pasta products were sold online in 2023 ?
   Query: SELECT SUM(UnitsSold) FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Product p ON st.Product=p.ID WHERE st.Channel='Online' AND YEAR(st.DateOfSale) = 2023 AND p.Category = 'Pasta'

3. Input: What are the different product categories ?
   Query: SELECT DISTINCT(Category) Categories FROM HoleFoods.Product
============================================================
‚úÖ Notice how the selector found examples about:
   ‚Ä¢ Regional queries (Europe -> America)
   ‚Ä¢ Product sales counting
   ‚Ä¢ Complex JOINs across multiple tables
üéØ This gives the LLM excellent context for generating the correct query!

In [18]:
# Create an enhanced prompt template with dynamic few-shot examples
print("üîß Creating advanced few-shot prompt template...")

from langchain_core.prompts import FewShotPromptTemplate

# Template for each example (how to format question-SQL pairs)
example_prompt = PromptTemplate.from_template("User input: {input}\nSQL query: {query}")

# Create the complete few-shot prompt that combines:
# 1. Our original IRIS-optimized instructions
# 2. Dynamically selected examples based on semantic similarity
# 3. The user's actual question
prompt = FewShotPromptTemplate(
    example_selector=example_selector,      # Uses semantic similarity to select examples
    example_prompt=example_prompt,          # How to format each example
    prefix=template,                        # Our original IRIS SQL instructions
    suffix="User input: {input}\nSQL query: ",  # Format for the user's question
    input_variables=["input", "top_k", "table_info"],  # Required variables
)

print("‚úÖ Advanced few-shot prompt template created")
print("üéØ This combines:")
print("   ‚Ä¢ IRIS-specific SQL instructions")
print("   ‚Ä¢ Dynamically selected relevant examples")  
print("   ‚Ä¢ Proper formatting for optimal LLM performance")

üîß Creating advanced few-shot prompt template...
‚úÖ Advanced few-shot prompt template created
üéØ This combines:
   ‚Ä¢ IRIS-specific SQL instructions
   ‚Ä¢ Dynamically selected relevant examples
   ‚Ä¢ Proper formatting for optimal LLM performance

In [19]:
# Let's see what the complete prompt looks like with dynamic examples
test_question_prompt = "how many products were sold in Europe?"
print("üìã Complete prompt structure with dynamic examples:")
print("="*80)
formatted_prompt = prompt.format(input=test_question_prompt, top_k=3, table_info="foo")
print(formatted_prompt)
print("="*80)
print("üéØ Notice how the prompt automatically includes:")
print("   ‚Ä¢ IRIS-specific SQL instructions at the top")
print("   ‚Ä¢ 3 most relevant examples based on semantic similarity")
print("   ‚Ä¢ The user's question formatted consistently")
print("   ‚Ä¢ This gives the LLM excellent context for accurate SQL generation!")

üìã Complete prompt structure with dynamic examples:
================================================================================

You are an InterSystems IRIS SQL expert.
Given an input question, first create a syntactically correct InterSystems IRIS SQL query to run and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 3 results using the TOP as defined in InterSystems IRIS syntax: ```SELECT [DISTINCT] TOP int select-item, select-item,...```
Always specify table names using schema as prefix.
Always add alias for tables.
Always refer to column using the table alias and the column name to avoid ambiguity.
Do not use LIMIT clause as it is not correct in IRIS dialect.
If using TOP, use it always right after SELECT. Never at the end of the query.
Do not end SQL sentences with an ;
Do not enclose fields in quotes or double quotes.
Do not enclose table names in quotes or double quotes.
You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CAST(CURRENT_DATE as date) function to get the current date, if the question involves "today".

Return only plain SQL without any formatting.

Only use the following tables:

foo.
Question: how many products were sold in Europe?

User input: How many products were sold in Europe in 2022 ?
SQL query: SELECT SUM(UnitsSold) FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Outlet o ON st.Outlet=o.ID JOIN HoleFoods.Country c ON o.Country=c.ID JOIN HoleFoods.Region r ON c.Region=r.ID WHERE r.Name='Europe' AND YEAR(st.DateOfSale) = 2022

User input: How many pasta products were sold online in 2023 ?
SQL query: SELECT SUM(UnitsSold) FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Product p ON st.Product=p.ID WHERE st.Channel='Online' AND YEAR(st.DateOfSale) = 2023 AND p.Category = 'Pasta'

User input: What are the different product categories ?
SQL query: SELECT DISTINCT(Category) Categories FROM HoleFoods.Product

User input: how many products were sold in Europe?
SQL query:
================================================================================
üéØ Notice how the prompt automatically includes:
   ‚Ä¢ IRIS-specific SQL instructions at the top
   ‚Ä¢ 3 most relevant examples based on semantic similarity
   ‚Ä¢ The user's question formatted consistently
   ‚Ä¢ This gives the LLM excellent context for accurate SQL generation!

In [20]:
# Create the enhanced SQL query chain with few-shot learning
print("‚öôÔ∏è Creating enhanced SQL query chain with few-shot learning...")
enhanced_chain = create_sql_query_chain(llm, db, prompt)

# Test with a complex regional query
test_question_enhanced = "how many products were sold in America?"
print(f"\nüß™ Testing enhanced chain with: '{test_question_enhanced}'")
print("="*60)

query_enhanced = enhanced_chain.invoke({"question": test_question_enhanced})
print(f"üîç Generated SQL: {query_enhanced}")
print("="*60)
print("‚úÖ Notice the sophisticated query structure:")
print("   ‚Ä¢ Correctly identifies 'N. America' as the region name")
print("   ‚Ä¢ Uses proper JOINs across 4 tables")
print("   ‚Ä¢ Applies correct IRIS syntax throughout")
print("üéØ This accuracy comes from the semantic similarity examples!")

‚öôÔ∏è Creating enhanced SQL query chain with few-shot learning...

üß™ Testing enhanced chain with: 'how many products were sold in America?'
============================================================
üîç Generated SQL: SELECT SUM(UnitsSold) FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Outlet o ON st.Outlet=o.ID JOIN HoleFoods.Country c ON o.Country=c.ID JOIN HoleFoods.Region r ON c.Region=r.ID WHERE r.Name='N. America'
============================================================
‚úÖ Notice the sophisticated query structure:
   ‚Ä¢ Correctly identifies 'N. America' as the region name
   ‚Ä¢ Uses proper JOINs across 4 tables
   ‚Ä¢ Applies correct IRIS syntax throughout
üéØ This accuracy comes from the semantic similarity examples!

## 8. Advanced Query Generation and Testing

Now let's test our enhanced system with semantic similarity-based few-shot learning:

In [21]:
# Execute the generated query to see the actual results
print("üöÄ Executing the generated query...")
result_final = db.run(query_enhanced)
print(f"üìä Final Result: {result_final}")
print("üéâ Success! We found that 531 products were sold in America.")

print("\n" + "="*60)
print("üèÜ COMPLETE SYSTEM DEMONSTRATION SUCCESSFUL!")
print("="*60)
print("‚úÖ What we accomplished:")
print("   1. Connected to InterSystems IRIS database")
print("   2. Created IRIS-optimized SQL prompt templates")
print("   3. Implemented semantic similarity-based few-shot learning")
print("   4. Generated accurate SQL queries from natural language")
print("   5. Executed queries and retrieved real results")
print("\nüí° The system can now handle complex questions with high accuracy!")

üöÄ Executing the generated query...
üìä Final Result: [(557,)]
üéâ Success! We found that 531 products were sold in America.

============================================================
üèÜ COMPLETE SYSTEM DEMONSTRATION SUCCESSFUL!
============================================================
‚úÖ What we accomplished:
   1. Connected to InterSystems IRIS database
   2. Created IRIS-optimized SQL prompt templates
   3. Implemented semantic similarity-based few-shot learning
   4. Generated accurate SQL queries from natural language
   5. Executed queries and retrieved real results

üí° The system can now handle complex questions with high accuracy!

## 9. Interactive Testing Function

Let's create a convenient function to test our system with different questions:

In [22]:
def ask_database_question(question, show_examples=False):
    """
    Ask a natural language question to our IRIS database
    
    Args:
        question (str): Natural language question
        show_examples (bool): Whether to display the selected few-shot examples
    
    Returns:
        dict: Contains the generated SQL query and results
    """
    print(f"‚ùì Question: {question}")
    
    if show_examples:
        examples = example_selector.select_examples({"input": question})
        print(f"\nüîç Selected examples for context:")
        for i, ex in enumerate(examples, 1):
            print(f"  {i}. {ex['input']}")
    
    # Generate SQL query
    sql_query = enhanced_chain.invoke({"question": question})
    print(f"üîç Generated SQL: {sql_query}")
    
    # Execute query and get results
    try:
        results = db.run(sql_query)
        print(f"üìä Results: {results}")
        return {"sql": sql_query, "results": results, "success": True}
    except Exception as e:
        print(f"‚ùå Error executing query: {e}")
        return {"sql": sql_query, "error": str(e), "success": False}

# Test with various questions
test_questions = [
    "How many different products do we have?",
    "What regions do we sell in?",
    "Which products were sold in Asia in 2023?",
    "What's the total revenue for 2022?",
    "Show me the top 3 selling product categories"
]

print("üß™ INTERACTIVE TESTING OF SQL GENERATION SYSTEM")
print("="*60)

for i, question in enumerate(test_questions, 1):
    print(f"\n{i}. ", end="")
    result = ask_database_question(question)
    if result["success"]:
        print(f"   ‚úÖ Query successful")
    else:
        print(f"   ‚ùå Query failed: {result['error']}")
    print("-" * 40)

print("\nüí° Try asking your own questions by calling:")
print("ask_database_question('Your question here', show_examples=True)")

üß™ INTERACTIVE TESTING OF SQL GENERATION SYSTEM
============================================================

1. ‚ùì Question: How many different products do we have?
üîç Generated SQL: SELECT COUNT(DISTINCT p.SKU) AS DifferentProducts FROM HoleFoods.Product p
üìä Results: [(17,)]
   ‚úÖ Query successful
----------------------------------------

2. ‚ùì Question: What regions do we sell in?
üîç Generated SQL: SELECT DISTINCT r.ID, r.Name FROM HoleFoods.Region r JOIN HoleFoods.SalesTransaction st ON r.ID = st.Outlet
üìä Results: [(1, 'ASIA'), (2, 'EUROPE'), (3, 'N. AMERICA'), (4, 'S. AMERICA')]
   ‚úÖ Query successful
----------------------------------------

3. ‚ùì Question: Which products were sold in Asia in 2023?
üîç Generated SQL: SELECT DISTINCT(p.Name) FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Product p ON st.Product=p.SKU JOIN HoleFoods.Outlet o ON st.Outlet=o.ID JOIN HoleFoods.Country c ON o.Country=c.ID JOIN HoleFoods.Region r ON c.Region=r.ID WHERE r.Name='Asia' AND YEAR(st.DateOfSale) = 2023
üìä Results: [('FREE-RANGE DONUTS (DOZEN)',), ('BUNDT CAKE',), ('PRETZELS (BAG)',), ('UNSALTED PRETZELS (BAG)',), ('ONION RING',), ('ZITI (BOX)',), ('LIFESAVERS (ROLL)',), ('CALAMARI (FROZEN)',), ('FRUIT LOOPS (BOX)',), ('CHEERIOS (BOX)',), ('PINEAPPLE RINGS (CAN)',), ('TORTELLINI (FROZEN)',)]
   ‚úÖ Query successful
----------------------------------------

4. ‚ùì Question: What's the total revenue for 2022?
üîç Generated SQL: SELECT SUM(AmountOfSale) FROM HoleFoods.SalesTransaction WHERE YEAR(DateOfSale) = 2022
üìä Results: [(Decimal('1853.93'),)]
   ‚úÖ Query successful
----------------------------------------

5. ‚ùì Question: Show me the top 3 selling product categories
üîç Generated SQL: SELECT TOP 3 p.Category, SUM(st.AmountOfSale) TotalSales FROM HoleFoods.SalesTransaction st JOIN HoleFoods.Product p ON st.Product = p.SKU GROUP BY p.Category ORDER BY TotalSales DESC
üìä Results: [('SNACK', '4809.56'), ('SEAFOOD', '2347.87'), ('PASTA', '2019.46')]
   ‚úÖ Query successful
----------------------------------------

üí° Try asking your own questions by calling:
ask_database_question('Your question here', show_examples=True)

---

## üöÄ Advanced Extensions and Experiments

### 1. **Multi-language Support**
Test the system with questions in different languages:
```python
multilingual_questions = [
    "¬øCu√°ntos productos se vendieron en Espa√±a?",    # Spanish
    "Combien de produits ont √©t√© vendus en France?", # French  
    "Quanti prodotti sono stati venduti in Italia?", # Italian
    "How many products were sold in Germany?"        # English
]
```

### 2. **Query Optimization Analysis**
Compare generated queries with manual optimizations:
```python
def analyze_query_performance(question):
    # Generate query
    sql = enhanced_chain.invoke({"question": question})
    
    # Execute with EXPLAIN PLAN
    explain = db.run(f"EXPLAIN {sql}")
    print(f"Query: {sql}")
    print(f"Execution Plan: {explain}")
```

### 3. **Custom Business Logic**
Add domain-specific examples for better accuracy:
```python
business_examples = [
    {
        "input": "What's our best performing region?",
        "query": "SELECT r.Name, SUM(st.AmountOfSale) Revenue FROM Holefoods.SalesTransaction st JOIN Holefoods.Outlet o ON st.Outlet=o.ID JOIN Holefoods.Country c ON o.Country=c.ID JOIN Holefoods.Region r ON c.Region=r.ID GROUP BY r.Name ORDER BY Revenue DESC"
    }
]
```

### 4. **Error Handling and Query Validation**
Implement query validation before execution:
```python
def validate_and_execute(sql_query):
    # Basic SQL injection prevention
    dangerous_keywords = ['DROP', 'DELETE', 'INSERT', 'UPDATE', 'ALTER']
    if any(keyword in sql_query.upper() for keyword in dangerous_keywords):
        return {"error": "Query contains potentially dangerous operations"}
    
    # Execute safely
    return db.run(sql_query)
```

### 5. **Result Formatting and Visualization**
Enhance result presentation:
```python
import pandas as pd
import matplotlib.pyplot as plt

def visualize_results(question, results):
    df = pd.DataFrame(results)
    # Create appropriate visualizations based on data type
    # Bar charts for categories, line charts for time series, etc.
```

### üìö **Educational Notes**

**Key Techniques Demonstrated:**
- **Semantic Similarity**: Using vector embeddings to find relevant examples
- **Few-Shot Learning**: Providing context through similar examples
- **Domain-Specific Prompting**: Optimizing for IRIS SQL dialect
- **Pipeline Architecture**: Chaining query generation and execution

**Best Practices:**
- Always validate SQL before execution
- Use schema prefixes for clarity
- Implement proper error handling
- Test with diverse question types
- Monitor query performance and accuracy

**Production Considerations:**
- Implement query caching for repeated questions
- Add authentication and authorization
- Set up query execution timeouts
- Monitor and log all database interactions
- Consider query result size limitations