In [1]:
from langchain_community.utilities import SQLDatabase

In [2]:
db = SQLDatabase.from_uri("iris://superuser:SYS@iris:1972/LLMRAG", sample_rows_in_table_info=3, schema='Holefoods')

In [3]:
print(db.dialect)
print(db.get_usable_table_names())

iris
['Country', 'Outlet', 'Product', 'Region', 'SalesTransaction']

In [4]:
print(db.run("SELECT TOP 10 * FROM Holefoods.SalesTransaction"))

[(1, 1, Decimal('1.95'), '2', None, datetime.date(2022, 4, 4), 0, None, None, 10, 'SKU-296', None, 1, None), (2, 1, Decimal('2.30'), '2', None, datetime.date(2023, 6, 6), 0, 33.875377, -84.685645, 24, 'SKU-451', None, 2, '30073'), (3, 1, Decimal('29.70'), '2', None, datetime.date(2019, 6, 24), 0, None, None, 4, 'SKU-708', None, 6, None), (4, 1, Decimal('69.93'), '2', None, datetime.date(2023, 5, 23), Decimal('0.1'), None, None, 33, 'SKU-195', None, 6, None), (5, 1, Decimal('1.48'), '2', None, datetime.date(2020, 8, 27), Decimal('0.5'), None, None, 22, 'SKU-101', None, 1, None), (6, 1, Decimal('2.95'), '2', None, datetime.date(2024, 3, 28), 0, None, None, 9, 'SKU-192', None, 1, None), (7, 1, Decimal('8.95'), None, None, datetime.date(2019, 10, 25), 0, None, None, 17, 'SKU-900', None, 1, None), (8, 1, Decimal('20.66'), '2', None, datetime.date(2022, 4, 29), Decimal('0.1'), None, None, 6, 'SKU-601', None, 1, None), (9, 1, Decimal('11.66'), '2', None, datetime.date(2021, 3, 21), Decimal('0.1'), None, None, 5, 'SKU-195', None, 1, None), (10, 1, Decimal('6.95'), '2', None, datetime.date(2022, 12, 12), 0, None, None, 12, 'SKU-928', None, 1, None)]

In [5]:
context = db.get_context()
print(list(context))
print(context["table_info"])

['table_info', 'table_names']

CREATE TABLE "Holefoods"."Country" (
	"ID" IDENTITY DEFAULT $i(^HoleFoods.CountryD) NOT NULL,
	"Name" VARCHAR(90),
	"Region" BIGINT,
	CONSTRAINT "RowIDField_As_PKey" PRIMARY KEY ("ID")
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Country table:
ID	Name	Region
1	China	1
2	India	1
3	Japan	1
*/


CREATE TABLE "Holefoods"."Outlet" (
	"ID" IDENTITY DEFAULT $i(^HoleFoods.OutletD) NOT NULL,
	"City" VARCHAR(100),
	"Country" BIGINT,
	"Latitude" DOUBLE,
	"Longitude" DOUBLE,
	"Population" INTEGER,
	"Type" VARCHAR(50),
	CONSTRAINT "RowIDField_As_PKey" PRIMARY KEY ("ID")
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Outlet table:
ID	City	Country	Latitude	Longitude	Population	Type
1	Beijing	1	39.86	116.412	17400000	None
2	Shanghai	1	31.224	121.466	16738000	None
3	Bangalore	2	12.963	77.587	6200000	None
*/


CREATE TABLE "Holefoods"."Product" (
	"ID" VARCHAR(22) NOT NULL,
	"Category" VARCHAR(100),
	"Name" VARCHAR(120),
	"Price" NUMERIC(15, 2),
	"SKU" VARCHAR(22) NOT NULL,
	CONSTRAINT "IDKEYField_As_PKey" PRIMARY KEY ("SKU")
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Product table:
ID	Category	Name	Price	SKU
SKU-101	Snack	Bagels (dozen)	2.95	SKU-101
SKU-192	Snack	Donuts (dozen)	2.95	SKU-192
SKU-195	Snack	Free-range Donuts (dozen)	12.95	SKU-195
*/


CREATE TABLE "Holefoods"."Region" (
	"ID" IDENTITY DEFAULT $i(^HoleFoods.RegionD) NOT NULL,
	"Name" VARCHAR(80),
	CONSTRAINT "RowIDField_As_PKey" PRIMARY KEY ("ID")
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from Region table:
ID	Name
1	Asia
2	Europe
3	N. America
*/


CREATE TABLE "Holefoods"."SalesTransaction" (
	"ID" IDENTITY DEFAULT $i(^HoleFoods.TransactionD) NOT NULL,
	"Actual" BIT,
	"AmountOfSale" NUMERIC(15, 2),
	"Channel" VARCHAR(50),
	"Comment" VARCHAR(500),
	"DateOfSale" DATE,
	"Discount" NUMERIC(15, 2),
	"Latitude" DOUBLE,
	"Longitude" DOUBLE,
	"Outlet" BIGINT,
	"Product" VARCHAR(22),
	"TargetAmount" NUMERIC(15, 2),
	"UnitsSold" INTEGER,
	"ZipCode" VARCHAR(25),
	CONSTRAINT "RowIDField_As_PKey" PRIMARY KEY ("ID")
) WITH %CLASSPARAMETER ALLOWIDENTITYINSERT = 1

/*
3 rows from SalesTransaction table:
ID	Actual	AmountOfSale	Channel	Comment	DateOfSale	Discount	Latitude	Longitude	Outlet	Product	TargetAmount	UnitsSold	ZipCode
1	1	1.95	2	None	2022-04-04	0	None	None	10	SKU-296	None	1	None
2	1	2.30	2	None	2023-06-06	0	33.875377	-84.685645	24	SKU-451	None	2	30073
3	1	29.70	2	None	2019-06-24	0	None	None	4	SKU-708	None	6	None
*/

In [6]:
info = db.get_table_info(table_names=['SalesTransaction', 'Product'])

In [8]:
import getpass
import os

os.environ["MISTRAL_API_KEY"] = getpass.getpass()

from langchain_mistralai import ChatMistralAI

llm = ChatMistralAI(model="mistral-large-latest")

 ········

In [28]:
from langchain_core.prompts import PromptTemplate

# Define the custom prompt template
template = '''
You are an InterSystems IRIS expert. 
Given an input question, first create a syntactically correct InterSystems IRIS query to run and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the TOP clause as per InterSystems IRIS.
Do not use LIMIT clause as it is not correct in IRIS dialect.
Do not end SQL sentences with an ;
You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CAST(CURRENT_DATE as date) function to get the current date, if the question involves "today".
Return just plain SQL

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}.
Question: {input}'''

# Create the PromptTemplate object
custom_prompt = PromptTemplate(
    input_variables=["input", "table_info", "top_k", "dialect"],
    template=template
)

In [29]:
from langchain.chains import create_sql_query_chain

chain = create_sql_query_chain(llm, db, prompt=custom_prompt)
chain.get_prompts()[0].pretty_print()

You are an InterSystems IRIS expert.
Given an input question, first create a syntactically correct InterSystems IRIS query to run and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the TOP clause as per InterSystems IRIS.
Do not use LIMIT clause as it is not correct in IRIS dialect.
Do not end SQL sentences with an ;
You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CAST(CURRENT_DATE as date) function to get the current date, if the question involves "today".
Return just plain SQL

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}.
Question: {input}

In [30]:
chain.invoke({"question": "how many products are there?"})

Parameter `stop` not yet supported (https://docs.mistral.ai/api)

'SELECT COUNT("ID") AS ProductCount FROM "Holefoods"."Product"'

In [31]:
chain.invoke({"question": "how many sales in 2023?"})

Parameter `stop` not yet supported (https://docs.mistral.ai/api)

'```sql\nSELECT COUNT(*)\nFROM "Holefoods"."SalesTransaction"\nWHERE DateOfSale BETWEEN \'2023-01-01\' AND \'2023-12-31\'\n```'

In [32]:
chain.invoke({"question": "what are the product categories?"})

Parameter `stop` not yet supported (https://docs.mistral.ai/api)

'SQLQuery:\n```sql\nSELECT DISTINCT "Category"\nFROM "Holefoods"."Product"\nTOP 5\n```'

In [33]:
chain.invoke({"question": "what is the product category most sold in 2023?"})

Parameter `stop` not yet supported (https://docs.mistral.ai/api)

"SQLQuery: SELECT TOP 5 Product.Category, SUM(SalesTransaction.UnitsSold) AS TotalUnitsSold\nFROM Holefoods.SalesTransaction\nJOIN Holefoods.Product ON SalesTransaction.Product = Product.SKU\nWHERE SalesTransaction.DateOfSale BETWEEN '2023-01-01' AND '2023-12-31'\nGROUP BY Product.Category\nORDER BY TotalUnitsSold DESC"